<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
<% if @test_passage.success? %>
  <span class='test-success'><%= t('.success') %> <b><%= @test_passage.percent_success_answer %>%</b></span>
<% else %>
  <span class='test-fail'><%= t('.failed') %> <b><%= @test_passage.percent_success_answer %>%</b></span>
<% end %>
</p>

<%= link_to t('.button_back'), tests_path %>