<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
  <%= content_tag :span, 
                  @test_passage.passed_questions,
                  class: 'passed-questions',
                  data: { passed_questions: @test_passage.passed_questions } %> 
  \ <%= content_tag :span,
                    @test_passage.total_questions,
                    class: 'total-questions',
                    data: { total_questions: @test_passage.total_questions } %> 
</p>

<div class="progress mb-4">
  <div class="progress-bar bg-info progress-test-passage" role="progressbar" style="width: 0%" aria-valuenow="<%= @test_passage.percent_success_answer %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<% if @test_passage.test.time_for_test > 0 %>
  <div class="h3 mb-4"> 
    <%= t('.time_left') %>
    <div class="countdown" 
      data-id="<%= @test_passage.id %>" 
      data-time="<%= @test_passage.time_left %>"
    >
      <%= format_of_countdown(@test_passage.time_left) %>
    </div>
  </div>
<% end %>

<p><b><%= @test_passage.current_question.body %></b></p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title, include_hidden: false do |b| %>
    <div class="form-check">
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </div>
  <% end %>

  <div class="mt-4">
    <%= link_to t('.gist_question'), gist_test_passage_path(@test_passage), method: :post, class: 'btn btn-outline-info mr-2', role: 'button' %>
    <%= form.submit t('.button_next'), class: 'btn btn-outline-success' %>
  </div>
<% end %>