<p><b><%= t('.title') %></b>: <%= @test.title %></p>
<p><b><%= t('.level') %></b>: <%= test_level(@test) %></p>

<h2><%= t('.questions') %>:</h2>
<%= link_to t('.link_create'), new_admin_test_question_path(@test) %>

<ol>
  <%= render @test.questions %>
</ol>

<%= link_to t('.link_edit'), edit_admin_test_path(@test) %> | 
<%= link_to t('.link_back'), admin_tests_path %>