<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <%= render 'admin/nav' %>

      <div class="container">
        <%= output_flash %>

        <%= yield %>
      </div>

    <footer>
      <hr>
      <div class="container">
        <p>Платформа для создания и прохождения тестов.</p>
        <p>Учебный проект в онлайн-школе <a href='https://thinknetica.com/' target='blank'>Thinknetica</a></p>
        <p><%= year %>, Nikolenko Artem, <%= github_url('kopo4eweb', 'test-guru') %></p>
      </div>
    </footer>    
  </body>
</html>
