<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <%= render 'shared/nav', admin: false %>

      <div class="container mt-4">
        <%= output_flash %>

        <%= yield %>
      </div>

    <footer class="mt-5">
      <hr>
      <div class="container">
        <p><%= t('footer.descr') %></p>
        <p><%= t('footer.school', link: link_to('Thinknetica', 'https://thinknetica.com/', target: '_blank')).html_safe %></p>
        <p><%= t('footer.author', year: year, link: github_url('kopo4eweb', 'test-guru')).html_safe %></p>
      </div>
    </footer>    
  </body>
</html>
