<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
      <nav class="nav">
        <div class="container">
          <%= link_to 'TestGuru', root_path, class: 'nav__logo' %>

          <ul class="nav__list">
            <% if user_signed_in? %>
              <li class="nav__item">Welcome, <b><%= current_user.email %></b> Guru</li>
              <li class="nav__item"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="nav__item"><%= link_to 'Login', new_user_session_path %></li>
              <li class="nav__item"><%= link_to 'Signup', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>

      <div class="container">
        <%= output_flash %>

        <%= yield %>
      </div>

    <footer>
      <hr>
      <div class="container">
        <p>Платформа для создания и прохождения тестов.</p>
        <p>Учебный проект в онлайн-школе <a href='https://thinknetica.com/' target='blank'>Thinknetica</a></p>
        <p><%= year %>, Nikolenko Artem, <%= github_url('kopo4eweb', 'test-guru') %></p>
      </div>
    </footer>    
  </body>
</html>
